<!-- <vg-player>
    <video #myMedia autoplay="true" [vgHls]="https://cams.cdn-surfline.com/cdn-int/uk-saunton/playlist.m3u8"
        id="my-video" type="video/mp4" controls>
    </video>
</vg-player> -->

<!-- <vg-player >
  <video #myMedia
         [vgMedia]="myMedia"
         id="my-video"
         src="https://cams.cdn-surfline.com/cdn-wc/hi-pipeline/playlist.m3u8"
         type="video/m3u8">
  </video>
</vg-player> -->

<vg-player>
  <video #media
         #vgHls="vgHls"
         [vgMedia]="media"
         [vgHls]="currentStream"
         id="singleVideo"
         controls
         crossorigin>
  </video>
</vg-player>